<?xml version="1.0"?>
<ruleset name="wp_mail">
	<file>wp-mail.php</file>
	<file>src</file>

	<arg value="sp"/>
	<arg name="basepath" value="."/>
	<arg name="colors"/>
	<arg name="extensions" value="php"/>

	<rule ref="WordPress">
		<exclude name="Squiz.Commenting.FileComment"/>
	</rule>

	<config name="minimum_supported_wp_version" value="6.4"/>
</ruleset>
